.agignore
.jshintrc
node_modules
phpunit.bat
bin
phpunit.xml.dist
npm-debug.log
*.patch
.buildpath
.project
.settings
.tags*
.idea
.DS_Store
__DS_STORE
.DS_STORE
/vendor
/composer
/composer.json
/composer.lock
/**/test-reports/*
